<div class="thumbnail">
  <img src="http://placehold.it/820x320" alt="placeholder">
  <div>
    <h4 class="pull-right">{{product.price}}</h4>
    <h4>{{product.title}}</h4>
    <p><app-stars [rating]="product.rating"></app-stars></p>
  </div>
</div>
<div class="well" id="reviews-anchor">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row" *ngFor="let review of reviews">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="review.rating"></app-stars>
      <span>{{review.user}}</span>
      <span class="pul-right">{{review.timestamp | date: 'shortDate'}}</span>
      <p>{{review.comment}}</p>
    </div>
  </div>
</div>
